In [1]:
import pandas as pd
import numpy as np
import boto3

In [2]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
     |████████████████████████████████| 77 kB 645 kB/s eta 0:00:011
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-py3-none-any.whl size=61084 sha256=a04c691c2d0ae2347a95700bf9554db3642342765d8f231ca8ed695f459f3056
  Stored in directory: /root/.cache/pip/wheels/80/1a/24/648467ade3a77ed20f35cfd2badd32134e96dd25ca811e64b3
Successfully built PyPDF2
Installing collected packages: PyPDF2
Successfully installed PyPDF2-1.26.0

In [3]:
import PyPDF2

In [4]:
# set up comms with s3
s3 = boto3.client('s3')
# bucket name
bucket = 'media-bais'

In [58]:
# pdf files with data
l1 = ('CDIR-2018-10-29-PRESSGALLERIES-4.pdf', 10)
l2 = ('CDIR-2018-10-29-PRESSGALLERIES.pdf', 14)
l3 = ('CDIR-2018-10-29-STATISTICALINFORMATION-26.pdf', 36)

# empty list for dataframes
dfs = []
# loop through pdfs to gather data
for l in [l1, l2, l3]:
    file_name = l[0]
    last_page = l[1]
    # copy to sagemaker instance
    s3.download_file('media-bais', file_name, file_name)

    # creating a pdf file object 
    pdfFileObj = open(file_name, 'rb') 

    # creating a pdf reader object 
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj) 

    # count how many lines (journalist) skipped or missed due to lazy data cleaning
    skipped = 0

    # loop through pages to pull journalist data
    for page in list(range(2, last_page)):
        # creating a page object 
        pageObj = pdfReader.getPage(page) 
        # extracting text from page 
        raw_list = pageObj.extractText()
        # convert raw text to list
        raw_list = raw_list.split('\n')

        # creating empty list to convert to dataframe later
        journalist = []
        publisher = []

        # loop through new list to seperate journalist from publisher
        for i, raw in enumerate(raw_list):
            if i == 0:
                skipped += 1
            else:
                try:
                    raw = raw.split(':')
                    j = raw[0]
                    p = raw[1]
                    journalist.append(j)
                    publisher.append(p)
                except:
                    try:
                        raw = raw.split('  ')
                        j = raw[0]
                        p = raw[1]
                        journalist.append(j)
                        publisher.append(p)
                    except:
                        skipped += 1

        dfs.append(pd.DataFrame({'Journalist': journalist,
                                'Publisher': publisher}))

    # closing the pdf file object 
    pdfFileObj.close()

    print("For file: {}, Number Skipped or Missed: {}".format(file_name, skipped))

For file: CDIR-2018-10-29-PRESSGALLERIES-4.pdf, Number Skipped or Missed: 10
For file: CDIR-2018-10-29-PRESSGALLERIES.pdf, Number Skipped or Missed: 84
For file: CDIR-2018-10-29-STATISTICALINFORMATION-26.pdf, Number Skipped or Missed: 190

In [59]:
# make new dataframe
dfs = pd.concat(dfs)

# how big is the dataset
print(dfs.shape)
dfs.head()

(5556, 2)

               Journalist           Publisher
0  Abrahams-Gray, Rosalie   Atlantic Monthly
1        Adragna, Anthony           Politico
2            Aftab, Mirza           BNA News
3         Akin, Stephanie          Roll Call
4           Albergo, Paul           BNA News

In [60]:
df = dfs.drop_duplicates()
print(df.shape)
df.head()

(5554, 2)

               Journalist           Publisher
0  Abrahams-Gray, Rosalie   Atlantic Monthly
1        Adragna, Anthony           Politico
2            Aftab, Mirza           BNA News
3         Akin, Stephanie          Roll Call
4           Albergo, Paul           BNA News