In [1]:
!pip install requests-oauthlib

Collecting requests-oauthlib
  Using cached requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting oauthlib>=3.0.0
  Using cached oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)
Requirement already satisfied: requests>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib) (2.8)
Installing collected packages: oauthlib, requests-oauthlib
Successfully installed oauthlib-3.1.0 requests-oauthlib-1.3.0

In [ ]:
https://github.com/twitterdev/Twitter-API-v2-sample-code

In [2]:
from requests_oauthlib import OAuth1Session
import os
import json
import pandas as pd

In [3]:
consumer_key = "B3yBDzWAjgI9x3gHIsiEY2UMj"
consumer_secret = "5J7pd0aNqnQViRQgRO57WNa8ujLaR4coHDecVzbSVFhbNileYc"
token = 'AAAAAAAAAAAAAAAAAAAAAIvKKQEAAAAAX%2FRbMcOECSsdMp9QsBLqGzd%2Fw2I%3D9ZlivVSpViyXSs7cDTQs4WUyOKDee3YwKJZev9D0QCte5y378i'

In [4]:
request_token_url = "https://api.twitter.com/oauth/request_token"
oauth = OAuth1Session(consumer_key, client_secret=consumer_secret)

try:
    fetch_response = oauth.fetch_request_token(request_token_url)
except ValueError:
    print("There may have been an issue with the consumer_key or consumer_secret you entered.")

In [5]:
resource_owner_key = fetch_response.get("oauth_token")
resource_owner_secret = fetch_response.get("oauth_token_secret")
print("Got OAuth token: %s" % resource_owner_key)

Got OAuth token: 8pndYAAAAAABKcqLAAABdl8QreA

In [6]:
base_authorization_url = "https://api.twitter.com/oauth/authorize"
authorization_url = oauth.authorization_url(base_authorization_url)
print("Please go here and authorize: %s" % authorization_url)
verifier = input("Paste the PIN here: ")

Please go here and authorize: https://api.twitter.com/oauth/authorize?oauth_token=8pndYAAAAAABKcqLAAABdl8QreA

Paste the PIN here:  2879476

In [7]:
access_token_url = "https://api.twitter.com/oauth/access_token"
oauth = OAuth1Session(
    consumer_key,
    client_secret=consumer_secret,
    resource_owner_key=resource_owner_key,
    resource_owner_secret=resource_owner_secret,
    verifier=verifier,
)
oauth_tokens = oauth.fetch_access_token(access_token_url)


access_token = oauth_tokens["oauth_token"]
access_token_secret = oauth_tokens["oauth_token_secret"]

In [8]:
df = pd.read_csv('journalist_list.csv')
df.tail()

           Journalist          Publisher
5549     Zampa, Peter   Gray Television
5550     Zang, Guohua   CTIŒTV (Taiwan)
5551  Zarinko, Joseph      CGTN America
5552     Zayas, Ramon      WRCŒTV/NBCŒ4
5553    Zechar, David          ABC News

In [9]:
full_name = df['Journalist'].map(lambda x: x.split(', '))

for i, name in enumerate(full_name):
    if len(name) < 2:
        print(i, name)
        
print(df.shape)        
df = df[(df['Journalist'] != 'Albright Nicole Gaudiano') &
       (df['Journalist'] != 'Fernandez-Pereda,Christina') &
        (df['Journalist'] != 'Roland Neil') &
        (df['Journalist'] != 'Baca. Nathan') &
        (df['Journalist'] != 'Kay Katharine')]
print(df.shape)

829 ['Albright Nicole Gaudiano']
1170 ['Fernandez-Pereda,Christina']
1816 ['Roland Neil']
2264 ['Baca. Nathan']
3684 ['Kay Katharine']
(5554, 2)
(5549, 2)

In [10]:
df['first name'] = df['Journalist'].map(lambda x: x.split(', ')[1].lower())
df['last name'] = df['Journalist'].map(lambda x: x.split(', ')[0].lower())
df.head()

               Journalist           Publisher first name      last name
0  Abrahams-Gray, Rosalie   Atlantic Monthly     rosalie  abrahams-gray
1        Adragna, Anthony           Politico     anthony        adragna
2            Aftab, Mirza           BNA News       mirza          aftab
3         Akin, Stephanie          Roll Call   stephanie           akin
4           Albergo, Paul           BNA News        paul        albergo

In [11]:
df['twitter_username_1'] = df['first name'].map(str) + df['last name'].map(str)
df['twitter_username_2'] = df['first name'].map(lambda x: x[0]) + df['last name'].map(str)
df['twitter_username_3'] = df['first name'].map(str) + df['last name'].map(lambda x: x[0])
df.head()

,Journalist,Publisher,first name,last name,twitter_username_1,twitter_username_2,twitter_username_3
0,"Abrahams-Gray, Rosalie",Atlantic Monthly,rosalie,abrahams-gray,rosalieabrahams-gray,rabrahams-gray,rosaliea
1,"Adragna, Anthony",Politico,anthony,adragna,anthonyadragna,aadragna,anthonya
2,"Aftab, Mirza",BNA News,mirza,aftab,mirzaaftab,maftab,mirzaa
3,"Akin, Stephanie",Roll Call,stephanie,akin,stephanieakin,sakin,stephaniea
4,"Albergo, Paul",BNA News,paul,albergo,paulalbergo,palbergo,paula

In [ ]:
#AnthonyAdragna
#stephanieakin
#palbergo
#PeterZampa

In [19]:
fields = "created_at,description"
params = {"usernames": "AnthonyAdragna", "user.fields": fields}

In [20]:
oauth = OAuth1Session(consumer_key,
                    client_secret=consumer_secret,
                    resource_owner_key=access_token,
                    resource_owner_secret=access_token_secret,
                    )

response = oauth.get("https://api.twitter.com/2/users/by", params=params)

if response.status_code != 200:
    raise Exception("Request returned an error: {} {}".format(response.status_code, response.text))

print("Response code: {}".format(response.status_code))
json_response = response.json()
print(json.dumps(json_response, indent=4, sort_keys=True))

response = json_response['data'][0]

bio = response['description']
id_ = response['id']

Response code: 200
{
    "data": [
        {
            "created_at": "2012-01-10T15:07:11.000Z",
            "description": "Congressional climate and energy issues for @POLITICO. Former @morning_energy scribe. D.C. native. Standard warnings apply. DMs open. Open to story ideas!",
            "id": "460246990",
            "name": "Anthony Adragna",
            "username": "AnthonyAdragna"
        }
    ]
}

In [12]:
def twitter_username(username):
    params = {"usernames": username, "user.fields": "description"}
    
    oauth = OAuth1Session(consumer_key,
                    client_secret=consumer_secret,
                    resource_owner_key=access_token,
                    resource_owner_secret=access_token_secret,
                    )

    response = oauth.get("https://api.twitter.com/2/users/by", params=params)

    return response

In [13]:
def convert_df(response, username):
    json_response = response.json()

    json_response = json_response['data'][0]

    bio = json_response['description']
    id_ = json_response['id']

    return pd.DataFrame({'submitted username': [username],
                        'bio': [bio],
                        'twitter id': [id_]})

In [ ]:
twitter_dfs = []
counter = 0
for i in list(range(1, 4)):
    twitter = []
    print(i)
    for user in list(df['twitter_username_{}'.format(i)]):
        tr = twitter_username(user)
        try:
            tdf = convert_df(tr, user)
            twitter.append(tdf)
        except:
            counter += 1

    twitter = pd.concat(twitter)
    df_twitter = pd.merge(df, twitter, how='inner', left_on='twitter_username_{}'.format(i), right_on='submitted username')
    
    twitter_dfs.append(df_twitter)
    
twitter_dfs = pd.concat(twitter_dfs)
print(twitter_dfs.shape)
twitter_dfs.head()

1
2
3

In [ ]:
twitter_dfs.to_csv("Twitter-Usernames.csv", index=False)